.container {
  background-color: rgba(245, 245, 220, 0.244);
  
  border-radius: 50px;
  margin-top: 150px;
  margin-left: 500px;
  display: flex;
 flex-direction: column;
 align-items: center;
 width: 500px;
 height: 480px;
 box-shadow: 10px 15px 15px 10px rgba(182, 182, 234, 0.686);
}

